.Header
{
    background-color:#C8D6E6;
    color:#000000;
    padding:5px 5px 5px 5px;
    margin: 0px 0px 0px 0px;
    border: 1px solid #3475CD;    
    font-size: 12px;
    font-weight: bold;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
}

.Content
{
    background-color: #FFFFFF; 
    padding:5px 5px 5px 5px;
    margin: 0px 0px 0px 0px;
    border-left: 1px solid #3475CD;
    border-right: 1px solid #3475CD;
    border-bottom: 1px solid #3475CD;
}

.ImagemExpand
{
    background-image:url("/Imagens/expand.gif");   
    background-repeat:no-repeat;
    background-position:center center;
    width:20px;
    height:20px;
}

.ImagemCollapse
{
    background-image:url("/Imagens/Collapse.gif");
    background-repeat:no-repeat;
    background-position:center center;
    width:20px;
    height:20px;
}