body
{
}

.divSummaryChoice
{
    display: block;
    float: left;
    width: 80%;
}

.divContentCounter
{
    float: right;
    text-align: right;
}
.divCounter
{
    float:left;
    color: red;
    font-weight: bold;
    display: inline;
    padding-top: 7px;
    padding-right: 7px;
}

.divFilter
{
    width: 95%;
    text-align: left;
    padding: 5px 5px 5px 5px;
    border: 1px solid #dddddd;
    background-color: #eeeeee;
}

.buttons
{
    text-align: center;
    margin-right: 150px;
}

.divRightClickItem:hover
{
    background-color:#dadada;
    border-color:#827d7d;
    border-style:solid;
    border-width:1px;
    cursor:pointer;
}


.divRightClickItem
{
    padding:2px 5px 2px 5px; 
    background-color:#eff4fa; 
    border-color: #eff4fa; 
    padding:2px 5px 2px 5px; 
    border-style:solid;
    border-width:1px;
}


.divRightClick
{
    border-width: 1px;
    border-style: solid; 
    border-color:#cecaca;
    position:absolute;
    display:none;
}

.Unread
{
    font-weight: bold;
    color:Red;
}

tr.Unread td
{
    font-weight: bold !important;
    color:Red !important;
}

tr.Unread td.links
{
    font-weight: normal !important;
    color:Black !important;
}

tr.Unread td div.tooltip    
{
    font-weight: normal !important;
    color:Black !important;
}

tr.Read td div.tooltip    
{
    font-weight: normal !important;
    color:Black !important;
}

.jobCallLogTable
{
}

table.jobCallLogTable tbody tr.Job td
{
    background-color: rgb(226, 226, 226);
}

table.jobCallLogTable tbody tr.CallEntry td
{
    background-color: rgb(210, 210, 210);
}

.Read
{
    font-weight: inherit;
    color:inherit;
}

.UnreadCounter
{
    color: Red;
    font-weight: bold;
    font-size: 14px;
}

.Thead
{
   background-color:rgb(230, 238, 238);  
}

a div
{
    text-decoration: none;
}

.toggleFilters
{
    height: 26px;
    width: 26px;
    display: inline-block;
}

.toggleUp
{
    background-image: url('/Images/navigation-up-frame.png');
    background-position: center;
    background-repeat: no-repeat;
}

.toggleDown
{
    background-image: url('/Images/navigation-down-frame.png');
    background-position: center;
    background-repeat: no-repeat;
}