/* Implement your Css Classes for Div's here. */
body
{
    border-color: #7F9DB9 transparent #7F9DB9 #7F9DB9;
}
/* Customer Info Css Class */

.CustomerInfo
{
    
    width: 450px;
    
}

.CustomerInfo .groupBox
{
    height: 220px;
}

.CustomerInfo .divWidth
{
    text-align: left;
    list-style: none;
    margin 0px !important;
    border: solid 1px buttonshadow;
    height: auto;
    max-height: 150px;
    overflow: auto;
    width: auto !important;
    max-width: 400px;
}


.CustomerInfo .title
{
    display: block;
    float: left;
    text-align: right;
    width: 120px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.CustomerInfo .control
{
    display: block;
    float: none;
    padding-top: 2px;
    padding-bottom: 2px;
}

.CustomerInfoSource
{
    display: inline-block;
    float: left;
    margin-right: 20px;
}
.CustomerInfoSource .title
{
    display: block;
    float: left;
    text-align: right;
    width: 120px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}


.CustomerInfoSource .control
{
    display: block;
    float: none;
    height: 21px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.CustomerInfoSource .groupBox
{
    height: 220px;
}

/* JobInfo css classes */
.JobInfo
{
    display: inline-block;
    float: left;
    width: 327px;
}

.JobInfo .groupBox
{
    width: 100%;
}

.JobInfo .title
{
    display: block;
    float: left;
    text-align: right;
    width: 119px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.JobInfo .control
{
    display: block;
    float: none;
    height: 21px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.JobInfoRight
{
}

/* Customer Info Css Class */

.JobDescriptionDerailment
{
    display: inline-block;
    float: left;
    width: 220px;
    margin-right: 20px;
    vertical-align:middle;
}

.JobDescriptionDerailment .groupBox
{
    height: 160px;
}


.JobDescriptionDerailment .title
{
    display: block;
    float: left;
    text-align: right;
    width:70px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.JobDescriptionDerailment .control
{
    display: block;
    float: none;
    padding-top: 2px;
    padding-bottom: 2px;
}

.JobDescriptionCommodities
{
    display: inline-block;
    float: left;
    width: 300px;
    margin-right: 20px;
}

.JobDescriptionCommodities .groupBox
{
    height: 160px;
}


.JobDescriptionCommodities .title
{
    display: block;
    float: left;
    text-align: right;
    width:70px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.JobDescriptionCommodities .control
{
    display: block;
    float: none;
    padding-top: 2px;
    padding-bottom: 2px;
}

.JobDescriptionChemical
{
    width: 220px;
}

.JobDescriptionChemical .groupBox
{
    height: 160px;
}

.JobDescriptionChemical .title
{
    display: block;
    float: left;
    text-align: right;
    width: 70px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.JobDescriptionChemical .control
{
    display: block;
    float: none;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* JobCallLog Css Classes */

.JobCallLog .filter
{
    display: inline;
    float: right;
    width: 500px;
}

.JobCallLog .title
{
    display: block;
    float: left;
    text-align: right;
    width: 120px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 2px;
}

.JobCallLog .control
{
    display: block;
    float: right;
    padding-top: 2px;
    padding-bottom: 2px;
}

.JobCallLog .control .combo
{
    display: inline-block;
    float: left;
}

.JobCallLog .control .textbox
{
    display: inline-block;
    float: none;
    padding-left: 3px;
}

.JobCallLog .gridview
{
    display: block;
    width: 100%;
}

/* CustormerInfo Css Classes */
#divCustomer
{
    text-align: right;
    margin-right: 25px;
}

#divContact
{
    text-align: left;
}

.LeftPositionDiv
{
}

.RightPositionDiv
{
    display: block;
    float: none;
}

.CustomerInfoTDAlignRight
{
    text-align: right;
    width: 175px;
}

/* PermitInfo Css Classes */
.PermitForm
{
}

.PermitGrid
{
}



.PermitForm .Label
{
    display: block;
    float: left;
    text-align: right;
    width: 120px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.PermitForm .Form
{
    display: block;
    float: none;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* PhotoReport Css Classes */
.PhotoReportForm
{
}

.PhotoReportGrid
{
}



.PhotoReportForm .Label
{
    display: block;
    float: left;
    text-align: right;
    width: 120px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.PhotoReportForm .Form
{
    display: block;
    float: none;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* Other Css Classes */

/* Location Info class */

.LocationForm
{
    display: inline-block;
    width: 327px;
    margin-right: 20px;
}

.LocationForm .title
{
    display: block;
    float: left;
    text-align: right;
    width: 120px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.LocationForm .control
{
    display: block;
    float: none;
    padding-top: 2px;
    padding-bottom: 2px;
}



/* Required Field Validators */
.RequiredCustomer
{
    position: inherit;
}

/* EXAMPLE FROM Default.css

#TopMenu
{
    position: relative;
    width: 100%;
    color: #000000;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
}

#TopMenuButtons
{
    display: block;
    float: left;
    width: 65%;
    text-align: left;
}

#TopMenuLogoRight
{
    display: block;
    text-align: right;
    width: 35%;
}

#TopMenuLogoRight table tr td
{
    font-size: 16px;
    font-weight: bold;
}

#LeftPanel
{
    display: block;
    float: left;
    width: 250px;
    text-align: left;
    border: 1px solid #3475CD;
    margin-left: 5px;
}

#SearchPanelTitle
{
    background-color: #C8D6E6;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #3475CD;
}

#SearchPanel
{
    padding: 5px 5px 5px 5px;
    background-color: #ffffff;
    height: 270px;
}

#TaskMenuTitle
{
    background-color: #C8D6E6;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    font-weight: bold;
    border-top: 1px solid #3475CD;
    border-bottom: 1px solid #3475CD;
}

#TaskMenu
{
    padding: 5px 5px 5px 5px;
    background-color: #ffffff;
    height: 120px;
}

#ContentPanel
{
    display: block;
    float: right;
    width: auto;
    background-color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #3475CD;
}

#QuickSearch
{
    background-color: #C8D6E6;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #3475CD;
} */

.divRightClickItem:hover
{
    background-color:#dadada;
    border-color:#827d7d;
    border-style:solid;
    border-width:1px;
    cursor:pointer;
}


.divRightClickItem
{
    padding:2px 5px 2px 5px; 
    background-color:#eff4fa; 
    border-color: #eff4fa; 
    padding:2px 5px 2px 5px; 
    border-style:solid;
    border-width:1px;
}


.divRightClick
{
    border-width: 1px;
    border-style: solid; 
    border-color:#cecaca;
    position:absolute;
    display:none;
}