.row { clear: both; width: 100%; overflow: hidden; margin: 5px 0; } 
.label { float: left; text-align: right; margin-right: 10px; width: 150px; } 
.labelSpecialPricing { float: left; text-align: left; margin-right: 10px; width: 210px; }
.value { float: left; text-align: left; } 
#divJobInfoContent
{
    width:1000px;
}

.divJobInfoLeftColumn
{
    float:left;
    width:400px;
}

.divJobInfoMiddleColumn
{
    float:left;
    width:400px;
}

.divJobInfoRightColumn
{
    float:left;
    width:200px;
}

.divRevenueInfo
{
    text-align:right;
    margin-right:25px;   
    display: inline;
}

.divButtonsFooter
{
    text-align:right;
}
.EstRateGrandTotalColumn
{
    text-align:center;
    margin-left: 400px;
    height: 60px;
}
.divTotal
{
    background-color: #eeeeee;
    border: 1px solid #dddddd; 
    width: 200px;
    display: inline;
    float: left;
    margin-right: 30px;
}
.divTotalBox
{
    float: right;
    min-width: 400px;
}