.mainTitle
{
    display: none;
}

.Header
{
    display: none;
}

.Content
{
    border: 0;
}

.filter
{
    display: none;
}

.title
{
    display: none;
}

.control
{
    display: none;
}

.control .combo
{
    display: none;
}

.control .textbox
{
    display: none;
}

.filterText
{
    display: none;
}

.filterCombo
{
    display: none;
}

.Row
{
    display: none;
}

.leftButtons
{
    display: none;
}

.rightButtons
{
    display: none;
}

.ScrollableGridView_Group
{
    max-height: 100%;
    overflow: visible;
    height: auto;
}

.ScrollableGridView_ScrollDiv
{
    max-height: 100%;
    overflow: visible;
    height: auto;
}

.gridview
{
    max-height: 100%;
    overflow: visible;
    height: auto;
}

TABLE.ScrollableGridView
{
    border-spacing: 0px;
    border-collapse: collapse;
    border-color: #000;
    border-width: 1px 0 0 1px;
    border-style: solid;
}

TABLE.ScrollableGridView tr
{
    border-color: #000;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-spacing: 0px;
    border-collapse: collapse;
}

TABLE.ScrollableGridView tr th, TABLE.ScrollableGridView tr td
{
    border-color: #000;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-spacing: 0px;
    border-collapse: collapse;
}

.ScrollableGridView_HeaderDiv
{
    border-bottom: 0;
}