table.ScrollableGridView
{
    background-color:#CDCDCD;
    font-family:arial;
    font-size:8pt;
    text-align:left;
    width:100%;
}

table.ScrollableGridView thead tr th, table.ScrollableGridView tfoot tr th
{
    background-color:#E6EEEE;
    
    font-size:8pt;
    padding:4px;
}

table.ScrollableGridView thead tr th
{
    position: relative;
    top: expression(this.offsetParent.scrollTop);
    left: expression(this.offsetParent.style.left);
}

table.ScrollableGridView .headerStyle
{
    background-color:#E6EEEE;    
    font-size: 8pt;
    padding: 4px;
}

table.ScrollableGridView thead tr .header
{
    cursor:hand;
}

table.ScrollableGridView thead tr .Ascending
{
    background-repeat:no-repeat;
    background-image: url(/Images/asc.gif);
    background-position: right;
    background-color:#8DBDD8 !important;
}

table.ScrollableGridView thead tr .Descending
{
    background-repeat:no-repeat;
    background-image: url(/Images/desc.gif);
    background-position: right;
    background-color:#8DBDD8 !important;
    margin-right: 20px !important;
}

table.ScrollableGridView tbody td
{
    background-color:#FFFFFF;
    color:#3D3D3D;
    padding:4px;
    vertical-align:top;
}

table.ScrollableGridView tbody tr.odd td
{
    background-color:#F0F0F6;
}

table.ScrollableGridView tbody tr.oddDivision td
{
    background-color:#B0B0B0;
}

table.ScrollableGridView tbody tr.oddCustomer td
{
    background-color:#C8C8C8;
}

table.ScrollableGridView tbody tr.evenDivision td
{
    background-color:#B0B0B0;
}

table.ScrollableGridView tbody tr.evenCustomer td
{
    background-color:#C8C8C8;
}

table.ScrollableGridView .even
{
    background-color:#FFFFFF;
    color:#3D3D3D;
    padding:4px;
    vertical-align:top;
}

table.ScrollableGridView .odd
{
    background-color:#F0F0F6;
    color:#3D3D3D;
    padding:4px;
    vertical-align:top;
}

table.ScrollableGridView tbody tr.focus td
{
    background-color:#3399FF !important;
    color:#FFFFFF !important;
}

table.ScrollableGridView .focus
{
    background-color: #3399FF;
    color:#FFFFFF;
    padding:4px;
    vertical-align:top;
}

table.ScrollableGridView tbody tr.Child td
{
    background-color: #E4F0FC;
}

table.ScrollableGridView .Child
{
    background-color: #E4F0FC;
}

table.ScrollableGridView tbody tr.Reserved td
{
    background-color: #E4FCF0;
}

table.ScrollableGridView .Reserved
{
    background-color: #E4FCF0;
}

table.ScrollableGridView tbody tr td.selected
{
    background-color: #3399FF;
    color:#FFFFFF;
}

table.ScrollableGridView tbody tr.focus td.selected
{
    background-color: #3399FF;
    color:#FFFFFF;
}

table.ScrollableGridView tbody tr td.blue
{
    background-color: #E4F0FC;
}

table.ScrollableGridView tbody tr.odd td.blue
{
    background-color: #E4F0FC;
}

table.ScrollableGridView tbody tr.blued
{
    background-color: #E4F0FC;
}

table.ScrollableGridView thead tr .headerSortUp
{
    background-image:url("/Images/asc.gif");
}

table.ScrollableGridView thead tr .headerSortDown
{
    background-image:url("/Images/desc.gif");
}

table.ScrollableGridView thead tr .headerSortDown, table.ScrollableGridView thead tr .headerSortUp
{
    background-color:#8DBDD8;
}

.ScrollableGridView_Group
{
    overflow-y: hidden;
    overflow-x: auto;
}

.ScrollableGridView_HeaderDiv
{
    margin-top:10px;
    margin-right:18px;
    border-bottom: 1px solid #CDCDCD;
}

.ScrollableGridView_ScrollDiv
{
   margin-bottom:10px;
   overflow-y: auto;
   overflow-x: hidden;
   border: solid #66CC99;
   border-width: 0px 0px 0px 0px;
   padding: 0px 18px 0px 0px;
   display: table-header-group;
   position: relative;
}
