<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xdt:Transform="Replace">
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>


  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        source="Enterprise Library Logging" formatter="Text Formatter"
        log="" machineName="." traceOutputOptions="None" />
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="Logs/CS.Log" formatter="Text Formatter" rollFileExistsBehavior="Increment"
        rollInterval="None" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
        name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <connectionStrings>
    <add name="CustomerServiceModelContainer" connectionString="metadata=res://*/CustomerServiceModel.csdl|res://*/CustomerServiceModel.ssdl|res://*/CustomerServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=sqls02;Initial Catalog=OneSource;User ID=OneSourceUser;Password=Hulcher;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="ADConnectionString" connectionString="LDAP://devdcs01.dev/DC=Dev" />
    <add name="IvantageConnectionString" connectionString="Data Source=HRS01;Initial Catalog=ff6110;User ID=OneSourceUser;Password=Hulcher"/>
    <add name="AzManPolicyStoreConnectionString" connectionString="msxml://devs01\OneSource\AzManStore.xml"/>
    <add name="OneSourceConnectionString" connectionString="Data Source=sqls02;Initial Catalog=OneSource;User ID=OneSourceUser;Password=Hulcher" providerName="System.Data.SqlClient" />
    <!--<add name="AzManPolicyStoreConnectionString" connectionString="msxml://c:\AzManStore.xml"/>-->
  </connectionStrings>

  <appSettings>
    <add key="UploadPermitPath" value="/Uploads/Permits/" />
    <add key="UploadPhotoReportPath" value="/Uploads/PhotoReports/" />
    <add key="MapServerPath" value="http://maps01:8080/cgi-bin/mapserv.exe"/>
  </appSettings>

  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />
    </httpHandlers>
    <customErrors mode="Off" />
    <authentication mode="Windows">
    </authentication>
    <membership defaultProvider="MyADMembershipProvider">
      <providers>
        <add name="MyADMembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ADConnectionString" attributeMapUsername="sAMAccountName" connectionUsername="Dev\druziska" connectionPassword="druziska" />
      </providers>
    </membership>
    <identity impersonate="false" />
    <globalization culture="en-US" uiCulture="en-US"/>
    <roleManager enabled="true" defaultProvider="AzManRoleProvider">
      <providers>
        <add name="AzManRoleProvider"
             type="System.Web.Security.AuthorizationStoreRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, publicKeyToken=b03f5f7f11d50a3a"
             connectionStringName="AzManPolicyStoreConnectionString"
             applicationName="SecureService"/>
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="AjaxControlToolkit"/>
        <add assembly="Hulcher.OneSource.CustomerService.Core"/>
      </assemblies>
    </compilation>
    <pages theme="Default">
      <controls>
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="asp" />
        <add assembly="Hulcher.OneSource.CustomerService.Business" namespace="Hulcher.OneSource.CustomerService.Business.WebControls.ServerControls" tagPrefix="asp" />
      </controls>
    </pages>
  </system.web>

  <location path="JobRecord.aspx">
    <system.web>
      <httpRuntime executionTimeout="999999" maxRequestLength="30720" />
    </system.web>
  </location>

  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"></transport>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Hulcher.OneSource.CustomerService.Web.AutoCompleteAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Hulcher.OneSource.CustomerService.Web.AutoComplete">
        <endpoint address="" behaviorConfiguration="Hulcher.OneSource.CustomerService.Web.AutoCompleteAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Hulcher.OneSource.CustomerService.Web.AutoComplete" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
</configuration>
