.Header
{
    background-color:#C8D6E6;
    color:#000000;
    padding:5px 5px 5px 5px;
    margin: 0px 0px 0px 0px;
    border: 1px solid #3475CD;    
    font-size: 12px;
    font-weight: bold;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
}

.Content
{
    background-color: #FFFFFF; 
    padding:5px 5px 5px 5px;
    margin: 0px 0px 0px 0px;
    border-left: 1px solid #3475CD;
    border-right: 1px solid #3475CD;
    border-bottom: 1px solid #3475CD;
}

.MainContent
{
    background-color: #FFFFFF; 
    padding:5px 5px 5px 5px;
    margin: 0px 0px 0px 0px;
    border: 1px solid #3475CD;
}

.title
{
    display: inline;
    float: left;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 2px;
    margin-right: 5px;
    text-align: right;
}


.SmallText
{
    width:55px;
}

.LongText
{
    width: 150px;
}

.control
{
    display: block;
}

.Row
{
    display: inline-block;
    margin-left: 20px;
}

.filterText
{
    display: block;
    float: left;
    text-align: left;
    padding: 7px 5px 2px 0px;
}


.filter
{
    display: block;
    margin-bottom: 2px;
}


.filterCombo
{
    display: block;
    float: left;
    text-align: left;
}

.divUpperFields
{
    width: 100%;
    display: block;
}

.divUpperFields .label
{
    display: block;
    float: left;
    text-align: right;
    width: 100px;
    padding-right: 5px;
}

.divUpperFields .text
{
    display:inline-block;
}

.gridview
{
    display: block;
    width: 100%;
}

.bottom
{
    width: 100%;
}

.bottom .checkbox
{
    display: block;
    float: left;
    width: 40%;
}

.bottom .buttons
{
    display: inline;
    float: right;
    text-align: right;
    padding-top: 5px;
}

.titleGridFilter
{
    display: inline-block;
    float: left;
    text-align: left;
    width: 40%;
}

.gridFilter
{
    display: block;
    text-align: right;
}

.historyTitle
{
    width:100%;
    background-color: #E4F0FC;
    height: 20px;
}