.fontBold { font-weight: bold; }

.fontBig { font-size: large; }

.height35 { height: 35px; }

.block { display:block; }

.inline { display:inline; }

.inlineBlock { display:inline-block; }

.floatLeft { float: left; }

.floatRight { float:right; }

.alignLeft { text-align:left; }

.alignRight { text-align:right; }

.paddingTop5 { padding-top: 5px; }

.paddingRight5 { padding-right: 5px; }

.paddingRight40 { padding-right: 40px; }

.paddingRight70 { padding-right: 70px; }

.paddingRight10 { padding-right: 10px; }

.paddingRight20 { padding-right: 20px; }

.paddingBottom5 { padding-bottom: 5px; }

.paddingLeft5 { padding-left: 5px; }

.paddingTop2 { padding-top: 2px; }

.space100 { width: 100%; } 

.space95 { width: 95%; }

.space88 { width:88%; }

.space80 { width: 80%; }

.space70 { width: 70%; }

.space60 { width: 60%; }

.space50 { width: 50%; }

.space49 { width: 49%; }

.space39 { width: 39%; }

.space38 { width: 38%; }

.space36 { width: 36% }

.space33 { width: 33%; }

.space32 { width: 32%; }

.space30 { width: 30%; }

.space29 {width: 29%; }

.space20 { width: 20%; }

.space19 { width: 19%; }

.space18 { width:18%; }

.space15 { width:15%; }

.space10 { width: 10%; }

.width100 { width: 100px; }

.width140 { width: 140px; }

.AlignCenter
{
    text-align: center;
    vertical-align:middle;
}

.textBold { font-weight: bold; }

.mapPopUp
{
    background-color: Gray;
    border:1px solid Black;
}

.mapPopUpContent
{
    color:Red;
}

.filter
{
    display: inline-block;
    float: right;
    margin-right: 5px;
}

.title
{
    display: block;
    float: left;
    text-align: right;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 2px;
}

.control
{
    display: block;
    float: left;
    padding-top: 2px;
    padding-bottom: 2px;
}

.control .combo
{
    display: inline-block;
    float: left;
}

.control .textbox
{
    display: inline-block;
    float: left;
    padding-left: 3px;
}

.control .checkbox
{
    display: inline-block;
    float: left;
    padding-right: 3px;
}

.gridview
{
    display: block;
    width: 100%;
}

.centerFilter
{
    width: 95%;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border: 1px solid #dddddd;
    background-color: #eeeeee;
}
