<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DatabaseUnitTesting" type="Microsoft.Data.Schema.UnitTesting.Configuration.DatabaseUnitTestingSection, Microsoft.Data.Schema.UnitTesting, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <appSettings>
    <add key="dynamicsConnectionStrings" value="DynamicsUSAConnectionString;DynamicsCanadaConnectionString;DynamicsMexicoConnectionString" />
    <add key="OneSourceTest" value="OneSourceDatabase" />
    <add key="ivantageConnectionStrings" value="OneSourceDatabase" />
    <add key="dossierConnectionStrings" value="DossierDatabase" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <DatabaseUnitTesting>
    <DatabaseDeployment DatabaseProjectFileName="..\..\..\Hulcher.OneSource.CustomerService.SQLDB\Hulcher.OneSource.CustomerService.SQLDB.dbproj" Configuration="Debug" />
    <DataGeneration DataGenerationFileName="..\..\..\Hulcher.OneSource.CustomerService.SQLDB\Data Generation Plans\CustomerServiceGenerationPlan.dgen" ClearDatabase="true" />
    <ExecutionContext Provider="System.Data.SqlClient" ConnectionString="Data Source=SQLS02;Initial Catalog=OneSourceTest;Persist Security Info=True;User ID=OneSourceUser;Password=Hulcher;Pooling=False" CommandTimeout="30" />
    <PrivilegedContext Provider="System.Data.SqlClient" ConnectionString="Data Source=SQLS02;Initial Catalog=OneSourceTest;Persist Security Info=True;User ID=OneSourceUser;Password=Hulcher;Pooling=False" CommandTimeout="30" />
  </DatabaseUnitTesting>
  <connectionStrings>
    <add name="CustomerServiceModelContainer" connectionString="metadata=res://*/CustomerServiceModel.csdl|res://*/CustomerServiceModel.ssdl|res://*/CustomerServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=devs01;Initial Catalog=OneSourceTest;User ID=OneSourceUser;Password=Hulcher;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="OneSourceDatabase" connectionString="Data Source=devs01;Initial Catalog=OneSourceTest;User ID=OneSourceUser;Password=Hulcher;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="DynamicsUSAConnectionString" connectionString="Data Source=accts01;Initial Catalog=usa;User ID=OneSourceUser;Password=Hulcher" providerName="System.Data.SqlClient" />
    <add name="DynamicsCanadaConnectionString" connectionString="Data Source=accts01;Initial Catalog=canada;User ID=OneSourceUser;Password=Hulcher;" providerName="System.Data.SqlClient" />
    <add name="DynamicsMexicoConnectionString" connectionString="Data Source=accts01;Initial Catalog=mexico;User ID=OneSourceUser;Password=Hulcher;" providerName="System.Data.SqlClient" />
    <add name="DossierDatabase" connectionString="Data Source=AppServ;Initial Catalog=CurrentHSI;User ID=OneSourceUser;Password=Hulcher;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Enterprise Library Logging" formatter="Text Formatter" log="" machineName="." traceOutputOptions="None" />
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="c:\cs.log" formatter="Text Formatter" rollFileExistsBehavior="Increment" rollInterval="None" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>