/*
   Wednesday, August 17, 20115:38:57 PM
   User: OneSourceUser
   Server: sqls02
   Database: OneSource
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.CS_JobInfo
	DROP COLUMN JobCloseDate, JobStatusID, JobStartDate
GO
ALTER TABLE dbo.CS_JobInfo SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CS_JobInfo', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CS_JobInfo', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CS_JobInfo', 'Object', 'CONTROL') as Contr_Per 